* {
  box-sizing: border-box;
}
body {
  background-color: #bcd4f7;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
.title {
  color: #56a5eb;
}
.button {
  border: 1px solid #56a5eb;
  width: 10rem;
  text-align: center;
  background-color: white;
  text-decoration: none;
  padding: 0.5rem 5rem;
  color: #56a5eb;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235.5);
  transform: translate(-0.1rem);
  transition: transform 150ms;
}
